.chat-window {
  width: 500px;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.message-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  list-style: none;
}

.message-bubble {
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
}

.message-bubble.self {
  background-color: #1976d2;
  color: white;
  align-self: flex-end;
}

.message-bubble.other {
  background-color: #e0e0e0;
  color: black;
  align-self: flex-start;
  margin-right: auto;
  margin-left: 10px;
}

.message-input-container {
  display: flex;
  gap: 10px;
  position: sticky;
  bottom: 0;
  background-color: white;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.message-input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.send-button {
  padding: 10px 20px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat-name {
  color: #888;
  text-decoration: underline;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.message-sender {
  font-size: smaller;
  flex: auto;
  flex-direction: row;
  align-self: flex-start;
  left: 0;
}

.message-content {
}
